<h1>Login</h1>
<% if !!flash[:message]%>
  <%= flash[:message] %>
  <p>If you don't have a profile, create one <a href="/signup">HERE</a></p>
<%end%>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login">
</form>

<div>
  <a href="/">Back</a>
</div>