<h1>Create Reminder</h1>

<%if !!flash[:message]%>
  <%=flash[:message]%>
<%end%>

<form action="/reminders" method="POST">
  <textarea name="note" rows="5" cols="40" placeholder="enter text here"></textarea>
  <input type="radio" name="frequency" value="daily">Daily
  <input type="radio" name="frequency" value="weekly">Weekly 
  <input type="radio" name="frequency" value="monthly">Monthly 
  <input type="submit" value="Create Reminder">
</form>